<launch>
  <group ns="image_tutorial1">
    <node name="ready" pkg="batting_robot" type="ready.py" />

    <arg name="node_start_delay" default="20.0" />  
    <node name="search_bat" pkg="batting_robot" type="earch_bat.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />

    <arg name="node_start_delay" default="20.0" />
    <node name="batting" pkg="batting_robot" type="batting.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
  </group>
</launch>